<html layout:decorate="~{layout.html}">
<head>
    <title th:text="주문하기"></title>
    <script src="https://js.tosspayments.com/v1"></script>
</head>
<body>
<main layout:fragment="main">
    <div class="mx-auto w-4/5 ">
        <div class="flex justify-between items-start gap-2">
            <div class="w-full">
                <h2 class="text-2xl font-bold mb-5 text-gray-900">주문 목록</h2>
                    <div th:each="book:${bill.books}" class="gap-2 cartItem">
                        <hr class="my-2 h-px bg-gray-200 border-0 dark:bg-gray-300">
                        <div class="flex gap-2 mt-3">
                            <img th:src="|/image/${book.thumbnail != null ? book.thumbnail : 'notfound.png'}|" class="w-[60px] h-[85px]">
                            <div class="flex-grow max-w-[400px]">
                                <p th:text="${book.title}"></p>
                            </div>
                            <div class="mx-auto flex items-center justify-center">
                                <p class="align-center mr-3" th:text="|${book.price}원|"></p>
                            </div>
                        </div>
                    </div>
            </div>
            <div>
                <div class="min-w-[290px] h-[240px] border border-blue-300 p-0 flex flex-col justify-around">
                    <div class="flex-grow items-center flex justify-around">
                        <span>총 주문 금액</span><span class="totalPrice" th:text="|${bill.paymentAmount}원|"></span>
                    </div>
                    <div class="flex-grow items-center flex justify-around bg-sky-100">
                        <span>총 결제 금액</span><span class="totalPrice" th:text="|${bill.paymentAmount}원|"></span>
                    </div>
                </div>
                <button class="btn w-full mt-3" onclick="pay('카드',jsons.card);">일반결제창</button>
                <button class="btn w-full mt-3" onclick="pay('계좌이체',jsons.transfer);">계좌이체</button>
                <button class="btn w-full mt-3" onclick="pay('휴대폰',jsons.phone);">휴대폰</button>
                <button class="btn w-full mt-3" onclick="pay('문화상품권',jsons.certificate);">문화상품권</button>
                <button class="btn w-full mt-3" onclick="pay('도서문화상품권',jsons.bookcert);">도서문화상품권</button>
            </div>
        </div>
    </div>
    <script th:javascript>
        /*<![CDATA[*/
        const orderId = `[[${bill.id}]]`;
        const orderName = `[[${bill.orderName}]]`;
        const amount = [[${bill.paymentAmount}]];
        /*]]>*/

        let tossPayments = TossPayments("test_ck_jkYG57Eba3GwB6eY1dQ3pWDOxmA1");

        function pay(method, requestJson) {
            tossPayments.requestPayment(method,requestJson)
                .catch(err=>{
                   if(err.code === 'USER_CANCEL'){
                       alert('결제를 취소하였습니다.');
                   } else {
                       alert(err.message);
                   }
                });
        }

        let successUrl = window.location.origin + '/order/success';
        let failUrl = window.location.origin + '/order/fail';

        let jsons = {
            'card' : {
                "amount": amount,
                "orderId": orderId,
                "orderName": orderName,
                "successUrl": successUrl,
                "failUrl": failUrl,
                "cardCompany": null,
                "cardInstallmentPlan": null,
                "maxCardInstallmentPlan": null,
                "useCardPoint": false,
                "customerName": "박토스",
                "customerEmail": null,
                "customerMobilePhone": null,
                "taxFreeAmount": null,
                "useInternationalCardOnly": false,
                "flowMode": "DEFAULT",
                "discountCode": null,
                "appScheme": null
            },
            "transfer": { //계좌이체 결제창

                "amount": amount,
                "orderId": orderId,
                "orderName": orderName,
                "successUrl": successUrl,
                "failUrl": failUrl,
                "customerName": "박토스",
                "customerEmail": null,
                "customerMobilePhone": null,
                "taxFreeAmount": null,
                "cashReceipt": {
                    "type": "소득공제"
                },
                "useEscrow": false

            },
            "phone": { // 휴대폰 결제창

                "amount": amount,
                "orderId": orderId,
                "orderName": orderName,
                "successUrl": successUrl,
                "failUrl": failUrl,
                "mobileCarrier": null

            },

            "certificate": { //상품권 결제창
                "amount": amount,
                "orderId": orderId,
                "orderName": orderName,
                "successUrl": successUrl,
                "failUrl": failUrl
            },

            "bookcert": { //도서문화상품권 결제창
                "amount": amount,
                "orderId": orderId,
                "orderName": orderName,
                "successUrl": successUrl,
                "failUrl": failUrl
            }
        };
    </script>
</main>
</body>
</html>