<html layout:decorate="~{layout.html}">
<head>
    <title th:text="${book.title}"></title>
</head>
<body>
<main layout:fragment="main">
    <div class="w-5/6">
        <div class="flex mx-auto gap-8">
            <img th:src="|/image/${book.thumbnail != null ? book.thumbnail.storeFileName : 'notfound.png'}|"
                 class="w-[210px] h-[280px]">
            <div class="gap-3">
                <div class="w-[150px]" th:insert="~{books/rate/starRate :: starRateShow}"
                     th:with="rate=${book.rate}"></div>
                <div class="mt-3">
                    <h2 class="text-3xl" th:text="${book.title}"></h2>
                </div>
                <div>
                    <p class="text-slate-500" th:text="${book.author}"></p>
                </div>
                <div>
                    <span th:text="정가 "></span>
                    <span class="text-2xl" th:text="|${book.price}원|"></span>
                </div>
                <div class="flex gap-2">
                    <form th:action="@{|/cart/add/${book.id}|}" method="post">
                        <button type="submit" class="btn btn-primary">카트에 담기</button>
                    </form>
                    <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">소장</a>
                </div>
            </div>
        </div>

        <hr class="my-3">

        <article class="min-w-[500px] max-w-xl mb-10">
            <span class="text-3xl dark:gray-400">작품 소개</span>
            <hr class="mb-2 h-1 dark:bg-gray-400 border-0">
            <span th:text="${book.description}"></span>
        </article>

        <article class="min-w-[500px] max-w-xl mb-10">
            <span class="text-3xl dark:gray-400">저자 프로필</span>
            <hr class="mb-2 h-1 dark:bg-gray-400 border-0">
            <p th:text="${book.author}"></p>
            저자에 대한 설명
        </article>

        <article class="min-w-[500px] max-w-xl mb-10">
            <span class="text-3xl dark:gray-400">리뷰</span>
            <hr class="mb-2 h-1 dark:bg-gray-400 border-0">
            <div class="flex gap-2 justify-between">
                <div class="place-content-center gap-2">
                    <div class="w-[150px]" th:insert="~{books/rate/starRate :: starRateShow}"
                         th:with="rate=${book.rate}"></div>
                    <div th:text="구매자평점" class="text-center"></div>
                    <div th:text="${book.rate}" class="text-4xl	font-semibold text-center"></div>
                    <div th:insert="~{books/rate/barRate :: barRate}" th:with="fiveRate=${book.fiveRate},
                    fourRate=${book.fourRate},threeRate=${book.threeRate},twoRate=${book.twoRate},oneRate=${book.oneRate}"></div>
                </div>
                <form th:object="${reviewForm}" sec:authentication th:action="@{|/reviews/write/${book.id}|}"
                      method="post" class="form-control gap-2">
                    <div th:if="${errors}" th:each="error : ${errors}"
                         class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:text-red-400">
                        <p th:text="${error}"></p>
                    </div>
                    <div th:replace="~{books/rate/starRate :: starRateInput}"></div>
                    <textarea placeholder="리뷰를 작성해주세요"
                              th:field="*{content}"
                              class="textarea textarea-bordered textarea-lg w-full max-w-xs h-full"></textarea>
                    <button type="submit" class="btn btn-primary">리뷰등록</button>
                </form>
            </div>

            <div class="tabs w-auto">
                <a class="tab tab-bordered" onclick="">구매자</a>
                <a class="tab tab-bordered tab-active" onclick="">전체</a>
                <p class="tab-bordered grow"></p>
            </div>

            <div th:each="review : ${book.reviews}" class="book-reviews" th:data-purchased="${review.member.books.contains(book)}">
                <div class="flex gap-4 my-2">
                    <div>
                        <div class="w-[80px]" th:insert="~{books/rate/starRate :: starRateShow}"
                             th:with="rate=${review.rate}"></div>
                        <p th:text="${review.member.username}"></p>
                        <p th:text="${#temporals.format(review.createDate, 'yyyy-MM-dd')}"
                           class="text-slate-600 font-thin text-xs"></p>
                    </div>
                    <div th:text="${review.content}"></div>
                </div>
                <hr>
            </div>
        </article>
    </div>

    <script>
        $(document).ready(function() {
            $('.tab').click(function() {
                // 현재 활성화된 탭에서 'tab-active' 클래스를 제거합니다.
                $('.tab-active').removeClass('tab-active');
                // 클릭된 탭에 'tab-active' 클래스를 추가합니다.
                $(this).addClass('tab-active');

                if ($(this).text() === '구매자') {
                    $('.book-reviews').hide();
                    $('.book-reviews[data-purchased="true"]').show();
                } else {
                    $('.book-reviews').show();
                }
            });
        });
    </script>

</main>
</body>
</html>