<html layout:decorate="~{layout.html}">
<head>
    <title th:text="새로운책"></title>
</head>
<body>
<main layout:fragment="main">

    <div class="flex justify-between">
        <h2 class="text-4xl">신규도서</h2>
        <a th:href="@{/categories}" class="flex items-center"><i class="fa-solid fa-bars mr-1"></i>전체 카테고리</a>
    </div>
    <hr class="my-3">
    <div class="grid grid-cols-5 gap-4">
        <div th:each="book :${books}">
            <a th:href="|books/${book.id}|">
                <img th:src="|/image/${book.thumbnail != null ? book.thumbnail.storeFileName : 'notfound.png'}|"
                     class="w-[110px] h-[150px]">
            </a>
            <div>
                <a th:href="|books/${book.id}|" th:text="${book.title}"></a>
                <div th:text="${book.author}"></div>
                <div th:text="${book.price}"></div>
            </div>
        </div>
    </div>

    <hr class="my-3">
    <!-- 페이지 -->
    <div class="flex justify-center">
        <ul class="list-style-none flex">
            <li>
                <a th:href="@{|?page=${books.number-1}|}" th:if="${books.hasPrevious()}"
                   class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:hover:bg-neutral-700 dark:hover:text-white">이전</a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, books.totalPages-1)}"
                th:if="${books.totalPages > 0 and page>=books.number-5 and page <= books.number+5}">
                <a th:href="@{|?page=${page}|}" th:class="${page != books.number} ?
          'relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:hover:bg-neutral-700 dark:hover:text-white':
          'relative block rounded bg-neutral-800 px-3 py-1.5 text-sm font-medium text-neutral-50 transition-all duration-300 dark:bg-neutral-900'"
                   th:text="${page}"></a>
            </li>
            <li>
                <a th:href="@{|?page=${books.number+1}|}" th:if="${books.hasNext()}"
                   class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:hover:bg-neutral-700 dark:hover:text-white">다음</a>
            </li>
        </ul>
    </div>


</main>
</body>
</html>