@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "IBMPlexSansKR-Regular";
}

.container{
    min-width: 896px;
    margin-left: auto;
    margin-right: auto;
}

.star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
}

.star-rating input {
    display:none;
}

.star-rating label {
    color:#ccc;
    cursor:pointer;
}

.star-rating :checked ~ label {
    color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#fc0;
}

body .stars {
    position: relative;
    white-space: nowrap;
}
body .stars svg {
    width: 50px;
}
body .stars .cover {
    background: white;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
}
svg {
    fill: gold;
}

.sub-menu {
    display: none; /* 초기에는 서브 메뉴를 숨김 */
}

.menu:hover .sub-menu {
    display: block; /* 메뉴에 호버하면 서브 메뉴를 보여줌 */
}


