@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #ffffff;
}

html > body {
    font-family: "IBMPlexSansKR-Regular";
}

.container{
    min-width: 896px;
    margin-left: auto;
    margin-right: auto;
}

.star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
}

.star-rating input {
    display:none;
}

.star-rating label {
    color:#ccc;
    cursor:pointer;
}

.star-rating :checked ~ label {
    color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#fc0;
}

body .stars {
    position: relative;
    white-space: nowrap;
}
body .stars svg {
    width: 50px;
}
body .stars .cover {
    background: white;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
}
svg {
    fill: gold;
}

.sub-menu {
    display: none; /* 초기에는 서브 메뉴를 숨김 */
}

.menu:hover .sub-menu {
    display: block; /* 메뉴에 호버하면 서브 메뉴를 보여줌 */
}

button.myButton {
    -webkit-appearance: none;
    background-color: initial;
    background-image: initial;
}

.round-menu-ul{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px auto;
}

.round-menu-li{
    display: inline-block;
    flex: 0 0 auto;
    margin: 0px 10px;
}

.round-a{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    flex: 0 0 auto;
    width: 70px;
}

.round-div{
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    overflow: hidden;
}

.round-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.round-span{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    word-break: keep-all;
    color: rgb(20, 20, 20);
    margin-top: 8px;
}

hr {
    opacity: 0.2;
}