<html layout:decorate="~{member/member-layout.html}">
<head>
    <title th:text="|내 정보|"></title>
</head>
<body>
<div class="px-3" layout:fragment="content">
    <!-- 계정 정보 -->
    <div class="border-2 border-gray-800 w-[721px] h-[341px] flex">
        <div class="bg-blue-100 w-1/4 flex flex-col gap-2 p-6">
            <p class="text-center text-xl font-bold" th:text="${member.username}"></p>
            <p class="text-center text-xs font-light text-gray-400" th:text="${member.email}"></p>

            <form th:action="@{/member/logout}" method="post" class="mx-auto">
                <button type="submit" class="btn btn-outline btn-sm">로그아웃</button>
            </form>
        </div>
        <div>

        </div>
    </div>

    <!-- 최근 조회한 작품 -->

    <div class="flex gap-3 items-center my-5">
        <p class="text-lg font-semibold">최근 조회한 작품</p>
        <hr class="h-[2px] border-0 rounded flex-grow dark:bg-gray-300">
        <a href="/member/recents" class="btn btn-xs">전체 보기 >></a>
    </div>

    <div class="grid grid-cols-5 gap-4">
        <div th:each="book : ${recentSeeBooks}" class="flex flex-col gap-2">
            <a th:href="|books/${book.id}|">
                <img th:src="|/image/${book.thumbnail != null ? book.thumbnail.storeFileName : 'notfound.png'}|"
                     class="w-[110px] h-[150px]">
            </a>
            <div>
                <a th:href="|books/${book.id}|" class="text-sm font-bold" th:text="${book.title}"></a>
                <div th:text="${book.author}" class="text-sm font-extralight text-neutral-400"></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>