<html layout:decorate="~{layout.html}">
<head>
  <title th:text="로그인"></title>
</head>
<body>
<main layout:fragment="main">
  <div class="h-screen w-full flex items-center justify-center bg-gray-100">
    <form th:action class="p-6 bg-white rounded shadow-md w-80" method="post">
      <h2 class="text-2xl font-bold mb-5 text-gray-900">로그인</h2>
      <div class="mb-4">
        <label for="username" class="text-gray-700 block mb-2">아이디</label>
        <input type="text" name="username" id="username" class="input input-bordered w-full" placeholder="아이디를 입력하세요.">
      </div>

      <div class="mb-4">
        <label for="password" class="text-gray-700 block mb-2">비밀번호</label>
        <input type="password" name="password" id="password" class="input input-bordered w-full" placeholder="비밀번호를 입력하세요.">
      </div>

      <div class="flex justify-between items-center">
        <div>
          <label for="remember" class="inline-flex items-center">
            <input type="checkbox" id="remember" class="checkbox checkbox-primary">
            <span class="ml-2">로그인 상태 유지</span>
          </label>
        </div>

        <button type="submit" class="btn btn-primary">로그인</button>
      </div>
    </form>
  </div>
</main>
</body>
</html>