<html layout:decorate="~{layout.html}">
<head>
    <title th:text="장바구니"></title>
</head>
<body>
<main layout:fragment="main">
    <div class="mx-auto w-4/5 ">
        <h2 class="text-2xl font-bold mb-5 text-gray-900">장바구니</h2>
        <div class="flex justify-between items-start">
            <div class="min-w-[550px] border border-stone-950 p-5">
                <form id="bill" th:action="@{/order}" method="get">
                    <input type="checkbox" id="master" checked>
                    <div th:each="book :${cart.getBooks()}" class="gap-2 cartItem">
                        <hr class="my-2 h-px bg-gray-200 border-0 dark:bg-gray-300">
                        <div class="flex gap-2 mt-3">
                            <input class="sub-checkbox" type="checkbox" th:value="${book.id}" name="bookIds" checked
                                   th:data-price="${book.price}">
                            <a th:href="@{|/books/${book.id}|}">
                                <img th:src="|/image/${book.thumbnail != null ? book.thumbnail.storeFileName : 'notfound.png'}|"
                                     class="w-[60px] h-[85px]">
                            </a>
                            <div class="flex-grow max-w-[400px]">
                                <p th:text="${book.title}"></p>
                                <p th:text="${book.author}"></p>
                            </div>
                            <div class="mx-auto flex items-center justify-center">
                                <p class="align-center mr-3" th:text="|${book.price}원|"></p>
                            </div>
                            <div class="mx-auto flex items-center justify-center">
                                <a href="javascript:void(0);"
                                   th:attr="onclick='return confirmDelete(\'' + ${book.title} + '\', \'' + ${cart.id} + '\', \'' + ${book.id} + '\');'">
                                    <i class="fa-solid fa-xmark"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <div class="min-w-[290px] h-[240px] border border-blue-300 p-0 flex flex-col justify-around">
                    <div class="flex-grow items-center flex justify-around">
                        <span>총 상품금액</span><span class="totalPrice" th:text="|${cart.totalPrice}원|"></span>
                    </div>
                    <div class="flex-grow items-center flex justify-around">
                        <span>할인금액</span><span>-0원</span>
                    </div>
                    <div class="flex-grow items-center flex justify-around bg-sky-100">
                        <span>결제금액</span><span class="totalPrice" th:text="|${cart.totalPrice}원|"></span>
                    </div>
                </div>
                <button class="btn w-full mt-3" onclick="$('#bill').submit()">주문창으로 이동</button>
            </div>
        </div>
    </div>
    <script>
        function confirmDelete(title, cartId, bookId) {
            if (confirm(title + "을(를) 삭제하시겠습니까?")) {
                window.location.href = `/cart/${cartId}/delete/${bookId}`;
            }
        }

        document.getElementById('master').addEventListener('change', function (e) {
            const checked = e.target.checked;
            const checkboxes = document.querySelectorAll('.sub-checkbox');
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = checked;
            }
        });

        $(document).ready(function(){
            function updateTotal() {
                var total = 0;
                $('.sub-checkbox:checked').each(function(){
                    total += parseInt($(this).data('price'), 10);
                });
                $('.totalPrice').html(total+'원');
            }

            updateTotal();
            $('.sub-checkbox').change(function(){
                updateTotal();
            });
        });
    </script>
</main>
</body>
</html>