<html layout:decorate="~{common/layout.html}">
<body>
<header layout:fragment="header" class="top-0 z-50">
    <div class="flex m-3 w-full mx-auto">
        <a th:href="@{/}" class="inline-block w-1/2">
            <img class="block h-[40px]" th:src="@{/logo/ShinChekBang_logo.png}" alt="신책방">
        </a>
        <div class="flex-grow grid justify-items-center">
            <form th:action="|@{/books}|" method="get" id="bookSearchForm">
                <input type="text" id="bookSearch" name="title" placeholder="도서명으로 검색하세요" class="input input-bordered w-5/6 max-w-xs">
            </form>
        </div>
        <div class="items-center flex justify-between flex-none gap-5 h-auto">
            <div>
                <a th:href="@{/member/noitfications}"><i class="fa-sharp fa-solid fa-bell fa-xl"></i></a>
            </div>
            <div>
                <a th:href="@{/cart}"><i class="fa-sharp fa-solid fa-cart-shopping fa-xl"></i></a>
            </div>
            <div>
                <a th:href="@{/member/library}"><i class="fa-sharp fa-solid fa-book-open fa-xl"></i></a>
            </div>
            <div>
                <a th:href="@{/member/info}"><i class="fa-sharp fa-solid fa-user fa-xl"></i></a>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#bookSearch').keypress(function(event) {
                let keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode === '13') {
                    $('bookSearchForm').submit();
                }
            });
        });
    </script>
</header>
</body>
</html>